<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
</head>
<body>
    <header>
        <h1>Segurado já cadastrado!</h1>
    </header>
    <form>
        <center>
            <label><h1 style="color: red;">Segurado já está cadastrado!</h1></label>
            <a href="/apolices/cadastrar" class="new-apol-button">Cadastrar nova apólice</a>
        </center>    
    </form>
    <form>    
        <center><a href="/" class="back-button">Voltar ao Menu</a></center>
    </form>
    
</body>
</html>



