<!DOCTYPE html>
<html>
<head>
    <title>Consulta de Apólices</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Apólices de {{ cliente[1] }}</h1>
    </header>
    <table>
        <thead>
            <tr>
                <th>Número da Apólice</th>
                <th>Tipo de Seguro</th>
                <th>Data de Vencimento</th>
                <th>Seguradora</th>
            </tr>
        </thead>
        <tbody>
            {% for apolice in apolices %}
            <tr>
                <td>{{ apolice[0] }}</td>
                <td>{{ apolice[1] }}</td>
                <td>{{ apolice[2] }}</td>
                <td>{{ apolice[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Voltar ao Menu Principal</a>
</body>
</html>
