<!DOCTYPE html>
<html>
<head>
    <title>Erro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
</head>
<body>
    <header>
        <h1>Erro! Dados inválidos...</h1>
    </header>
    <form>
        <center>
            <label><h1 style="color: red;">CPF/CNPJ inválido.</h1></label>
            <label><h2>Por favor, insira um documento válido.</h2></label>
            <button a href="/clientes/cadastrar">Tentar Novamente</button>
        </center>    
    </form>
    <div>
        <center><a href="/" class="back-button">Voltar ao Menu</a></center>
    </div>
    


</body>
</html>
