<!-- templates/index.html -->
{% extends "base.html" %}
{% block content %}
<div class="dashboard-container">
    <div class="card">
        <p>{{ total_clientes }}</p>
        <h2>Clientes Cadastrados</h2>
    </div>
    <div class="card">
        <p>{{ total_apolices }}</p>
        <h2>Apólices Ativas</h2>
    </div>
</div>

<div class="card-list">
    <h2>Renovações da semana</h2>
    <table>
        <thead>
            <tr>
                <th>Vence dia</th>
                <th>Segurado</th>
                <th>Ramo</th>
                <th>Seguradora</th>
            </tr>
        </thead>
        <tbody>
            {% for apolice in apolices_vencimento %}
            <tr>
                <td>{{ apolice.data_vencimento }}</td>
                <td>{{ apolice.cliente_nome.upper() }}</td>
                <td>{{ apolice.tipo_seguro.upper() }}</td>
                <td>{{ apolice.seguradora_nome.upper() }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}